@use '../../styles/variables/colors' as *;
.description {
  height: 100%;
  background-color: $white-color;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  p {
    margin: auto;
    text-align: center;
    width: 70%;
    padding: 20px;
  }
}

.row {
  padding-bottom: 20px;
}

.stack {
  padding-left: 10px;
  padding-right: 10px;
}
