@use '../../styles/variables/colors' as *;

.contact-container {
  max-width: 600px;
}

.contact-header {
  font-weight: bold;
  font-size: 25px;
}

.margin-5 {
  margin: 5px;
}

.contact-info {
  width: 800px;
}

.accent {
  .text-container{
    background-color: $accent-color;
  }
}
